.App {
    width: 100%;
}
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Work Sans";
    overflow-x: hidden;
}
span {
    color: "#897fd3";
    font-weight: "700";
}

.iframe-wrapper {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;

    z-index: 0;

    border-radius: 8px;
}

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@400;600;700&display=swap");
